<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <properties>
        <property name="SLEUTH_PATTERN">
            [%X{X-B3-TraceId},%X{X-B3-SpanId},%X{X-Span-Export}]
        </property>
        <property name="LOG_PATTERN">
            %d{yyyy-MM-dd HH:mm:ss.SSS} %-5p ${SLEUTH_PATTERN} [%t] [%c{1.} %L] - %m%n
        </property>
    </properties>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
        <RollingFile name="file" fileName="logs/slp-pms.log" filePattern="logs/slp-pms.log.%d{yyyy-MM-dd}"
                     immediateFlush="true" append="true" bufferSize="8192">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <SizeBasedTriggeringPolicy size="100MB"/>
            <!-- DefaultRolloverStrategy属性如不设置，则默认为最多同一文件夹下7个文件，这里设置了20 -->
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="console"/>
            <AppenderRef ref="file"/>
        </Root>
    </Loggers>
</Configuration>
